# Dependencies
node_modules

# Build
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Environment / secrets
.dev.vars
.env
.env.*
!.env.example

# Wrangler
.wrangler/
wrangler.toml
